@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-on-background font-body-md min-h-screen;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.step-active {
  border-left: 4px solid #ff544c;
  background: #1e2020;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.custom-calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

/* Custom scrollbar for industrial feel */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #121414;
}
::-webkit-scrollbar-thumb {
  background: #37474F;
  border-radius: 2px;
}

.active-nav-item {
  transition: all 0.2s ease;
}
